:root {
  --omni-green: #3c4421;
  --omni-secondary: #585f40;
}

body {
  background-color: #edefdd;
  font-family: Arial, sans-serif;
  font-size: calc(10px + 4vmin);
  height: 100%;
  color: var(--omni-green);
}

main {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 50vmin;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 60s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  height: 10vmin;
}

.links li {
  display: inline-block;
  margin: 0 20px;
}

.links a {
  text-decoration: none;
  color: var(--omni-green);
}

.links a:hover,
.links a:focus {
  color: #585f40;
}

.links a:focus {
  outline: 1px dotted;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
